@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .banner {
      height: calc(100vh - 3.6rem);
  }
}

.icon {
    display: inline-flex;
    align-self: center;
}
.icon svg, .icon img {
    height: 1em;
    width: 1em;
    fill: currentColor;
}
.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}

/* Button from https://getcssscan.com/css-buttons-examples */
.button {
  background-color: #00000000;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 3rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.15s;
}

.button:hover {
  background-color: #ffffff10;
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}